<!DOCTYPE html>
<html lang="en" ng-app="todoApp" ng-cloak>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kevo</title>

  <link rel="stylesheet" href="externos/bs.css">
  <link rel="stylesheet" href="style/style.css">

</head>
<body ng-controller="ejemploController">

  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Heroes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" ng-click="activo('inicio')" id="inicio">
            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" ng-click="activo('crear')" id="crear">
            <a class="nav-link" href="#">Crear<span class="sr-only"></span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" ng-model="buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
  </div>
  <div id="section" ng-hide="todo">
    <div class="col-sm-12">
      <div class="row">

        <div class="col-sm-3 col-xs-12"  ng-repeat="heroe in listheroes | filter: {nombre : buscar}">
          <div class="card" style="width: 18rem; margin-bottom: 50px;">
            <img class="card-img-top" src="{{heroe.img}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">{{heroe.nombre}}</h5>

              <div class="col-xs-12"><p class="card-text" style="float:left">Casa: {{heroe.casa}}</p>
                <p class="card-text" style="float:right">Fecha: {{heroe.aparicion}}</p>
              </div>


            </div>
            <div class="col-xs-12">
              <a href="#" class="btn btn-primary btn-block" ng-click="detailheroe(heroe.nombre, heroe.bio, heroe.aparicion, heroe.casa, heroe.img)">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal detalle heroe -->
  <div class="modal fade" id="modal-detalle-heroe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">

          <div class="imgcontainer"><img src="{{heroeimg}}" alt="{{heroenombre}}" class="avatar"></div>
          <div style="display:inline-flex">
            <img src="assets\img\dc-logo.jpg" alt="DC" ng-hide="casa">
            <img src="assets\img\marvel-logo.png" alt="Marvel" ng-hide="!casa">
            <h2 style="padding-top: 20%; padding-left: 10%;">{{heroenombre}}</h2>
          </div>
            <p>{{heroebio}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">Entendido</button>

          </div>
        </div>
      </div>
    </div>

    <script src="externos/jquery.js"></script>
    <script src="externos/popper.js"></script>
    <script src="externos/bs.js"></script>
    <script src="externos/angular.js"></script>
    <script src="js/app.js"></script>

  </body>
  </html>
